@charset "ISO-8859-1";
  .navbar-nav {
      font-size: 20px;
      justify-content: center;
      margin-bottom:0px;
    }
     .navbar-nav .nav-link {
      padding: 10px 20px;
    }
    .navbar-text img {
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
    
/*    #cart {
    	margin-left:30%;
    	margin-right:0%;
    }
    
    #access {
    	margin-right:0%;
    }
 */  
	 .navbar-nav .nav-item + .nav-item {
	    margin-left: 110px;
	    margin-right: 110px;
	  }    
    	
	@media (max-width: 1700px) {
	 .navbar-nav .nav-item + .nav-item {
	    margin-left: 100px;
	    margin-right: 100px;
	  }
	}
	
	@media (max-width: 1520px) {
	.navbar-nav .nav-item + .nav-item {
	    margin-left: 90px;
	    margin-right: 90px;
	  }
	}

	@media (max-width: 1430px) {
	 .navbar-nav .nav-item + .nav-item {
	    margin-left: 70px;
	    margin-right: 70px;
	  }
	}
	
	@media (max-width: 1220px) {
	 .navbar-nav .nav-item + .nav-item {
	    margin-left: 40px;
	    margin-right: 40px;
	  }
	}
    
    .navbar-nav .nav-link {
  		white-space: nowrap;
	}
	
	@media (max-width: 991px) {
		.nav-item {
		margin-left: 50px;
	    margin-right: 50px;
		}
	}
    