@charset "ISO-8859-1";
  .navbar-nav {
      font-size: 20px;
      justify-content: center;
    }
     .navbar-nav .nav-link {
      padding: 10px 20px;
    }
    .navbar-text img {
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
    
    .navbar-nav .nav-item + .nav-item {
      margin-left: 190px;
    }
    
    .navbar-nav .nav-link {
  		white-space: nowrap;
	}
    