@charset "ISO-8859-1";

html, body {
	height: 100%;
	width: 100% ;
}

h3 {
	color: white;
}

.btn {
    border-width: 2px;
    color: brown;
    background: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 155px;
}

#OP {
    border-width: 2px;
    color: brown;
    background-color: white;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 155px;
}

#OP:hover {
    background: none;
    color: #fff;
    border-color: #ca293e;
    background-color: #ca293e;
}

.btn:hover {
    background: none;
    color: #fff;
    border-color: #ca293e;
    background-color: #ca293e;
}

.bgSand {
    border-top: 2px;
    background-color: #dbd1b4;
}

.image-bg {
    background-image: url('../img/adminWalpaper.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 65%;
    position: relative;
    border-top: 2px inset
}

.image-login {
    background-image: url('../img/LibreriaAntica.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 65%;
    position: relative; 
    border-top: 2px inset
}

#loginBox {
	background-color: white;
	border: 1px solid; 
	padding: 10px; 
	border-radius: 5px; 
	height: 300px; 
	width: 300px; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
}

#loginBox p strong{
	font-weight: bold;
}

#loginBox p {
	font-size: 100%;
}

.logo-container {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo-container img{
    width: 130px; 
    height: 130px;
}

.logo-container-void {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
}

.logo-container-void img{
    width: 250px; 
    height: 250px;
    opacity: 0.6;
}

.logo-container-admin {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo-container-admin img{
    width: 190px; 
    height: 190px;
    opacity: 0.6;
}

.offcanvas-body p{
	 font-size: 30px; /* Dimensione del titolo */
     margin-bottom: 20px;
     font-style: Italic;
     text-align: center; /* Allineamento centrato */
}

.col-sm-12  {
    margin-top:10px;
}

.price-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="range"] {
    width: 175px;
}

.row-border {
    border: 2px solid red;
    padding: 10px;
}



#carouselExampleIndicators {
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#carouselExampleIndicators .carousel-inner {
    width: 100%;
    height: 100%;
}

#carouselExampleIndicators .carousel-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

#index-carousel .carousel-control-prev,
#index-carousel .carousel-control-next {
    z-index: 10;
}



.product-image {
    transition: opacity 0.3s ease;
}

.product-image:hover {
    opacity: 0.7;
}

.product-image {
    width: 200px; 
    height: 250px;
}

    .map-holder {
      position: relative;
      width: 100%;
      height: 100%; /* Altezza dello schermo intero */
      overflow: hidden;
    }

    .map-holder iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    /* Aggiungi questo stile per la sezione con le informazioni */
    .info {
      background-color: #f0f0f0; /* Sfondo di un altro colore */
      padding: 50px 0;
      margin-top: 0px; /* Margine superiore a 0 per essere attaccato alla mappa */
      height: 50%;
      margin-bottom: 50px; /* Margine inferiore negativo per evitare spazi vuoti */  
   }

   .info-title {
     font-weight: bold; /* Testo in grassetto */
     font-size: 30px; /* Dimensione del titolo */
     margin-bottom: 20px;
     font-style: Italic;
     text-align: center; /* Allineamento centrato */
     
  }
 
   .info-text {
     font-size: 22px; /* Dimensione del testo normale */
     font-style: Italic; /* Font personalizzato */
     color: #333; /* Colore del testo */
     text-align: center; /* Allineamento centrato */
     padding: 0 40px; /* Padding orizzontale */
  }
  .contact{
      
      padding: 20px 0;
      margin-top: 20px; /* Margine superiore a 0 per essere attaccato alla mappa */
      height: 40%;
      margin-bottom: 100px; /* Margine inferiore negativo per evitare spazi vuoti */  
   }

   .contact-title {
     font-weight: bold; /* Testo in grassetto */
     font-size: 30px; /* Dimensione del titolo */
     margin-bottom: 20px;
     font-style: Italic;
     text-align: center; /* Allineamento centrato */
  }
 
   .contact-text {
     font-size: 22px; /* Dimensione del testo normale */
     font-style: Italic; /* Font personalizzato */
     color: #333; /* Colore del testo */
     text-align: center; /* Allineamento centrato */
     padding: 0 40px; /* Padding orizzontale */
  }

   .map {
     height: 60%; /* Margine inferiore negativo per eliminare lo spazio */
}

.fixed-container {
  position: fixed;
  top: 23%;
  left: 8%;
  width: 20%;
  height:45%;
  z-index: 1000; /* Assicurati che l'elemento sia sopra gli altri contenuti */
  /* Aggiungi altre proprietà CSS come padding, box-shadow, ecc. se necessario */
}

.fixed-container-void {
  position: relative;

  /* Aggiungi altre proprietà CSS come padding, box-shadow, ecc. se necessario */
}

#verticalSeparator {
  border-left: 1px solid #c0c0c0;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 991px) { /* Cambia a una larghezza diversa se necessario */
    .fixed-container {
        position: static; /* Cambia la posizione da fixed a static */
        height: 85%;
        width: 75%;
        transition: all 340ms ease 0s;
        /* Altre regole CSS per quando la posizione è static */
    }
}

@media (max-height: 900px) and (min-width: 992px) { /* Cambia a una larghezza diversa se necessario */
    .fixed-container {
        position: static; /* Cambia la posizione da fixed a static */
        height: auto;
        width: 75%;
        /* Altre regole CSS per quando la posizione è static */
    }
}

@media (max-width: 767px) {
	#verticalSeparator {
		border-left: 0px;
  		padding-left: 0px;
	}
}

@media (max-width: 490px) {
    .product-image {
        width: 150px; 
        height: 200px;
    }
}

@media (max-width: 490px) {
    .texteduce {
        font-size: 0.8em;
    }
    
}
